Repository masa-codehub/github_broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, document-validator, mypy, doc-validation

pytest:
  name: pytest
  entry: pytest
  args:
  - -k
  - not trio
  language: system
  pass_filenames: false

document-validator:
  name: Document Validator
  entry: python github_broker/infrastructure/document_validation/document_validator.py
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc-validation:
  name: Document Validation
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false

feat(plans): Create implementation plan for design-doc-002
  plans/design-doc-002/epic-implement-document-validator.md
  plans/design-doc-002/stories/story-implement-script-structure.md
  plans/design-doc-002/stories/story-implement-validation-rules.md
  plans/design-doc-002/stories/story-integrate-with-pre-commit.md
  plans/design-doc-002/tasks/task-create-integration-test-for-pre-commit.md
  plans/design-doc-002/tasks/task-implement-folder-structure-check.md
  plans/design-doc-002/tasks/task-implement-naming-convention-check.md
  plans/design-doc-002/tasks/task-implement-required-sections-check.md
  plans/design-doc-002/tasks/task-implement-script-base-structure.md
  plans/design-doc-002/tasks/task-update-pre-commit-config.md
Due: document-validator, doc-validation

fix(plans): Reflect review comments on design-doc-002 plan
  plans/design-doc-002/epic-implement-document-validator.md
  plans/design-doc-002/stories/story-implement-script-structure.md
  plans/design-doc-002/stories/story-integrate-with-pre-commit.md
  plans/design-doc-002/tasks/task-implement-naming-convention-check.md
  plans/design-doc-002/tasks/task-implement-script-base-structure.md
Due: document-validator, doc-validation

feat(plan): Create implementation plan for ADR-016
  .pre-commit-config.yaml
  plans/adr-016/epic-implement-adr-016.md
  plans/adr-016/stories/story-fix-review-issue-workflow.md
  plans/adr-016/tasks/task-add-data-retrieval-for-prompt.md
  plans/adr-016/tasks/task-add-logging-and-testing.md
  plans/adr-016/tasks/task-add-prompt-switching-logic.md
  plans/adr-016/tasks/task-add-review-issue-cache-logic.md
Due: document-validator, doc-validation

chore(plans): Update ADR-015 plan files with correct issue numbers
  plans/adr-015/epic-implement-adr-015.md
  plans/adr-015/stories/story-document-adr-015-changes.md
  plans/adr-015/tasks/task-update-design-doc-with-priority-rules.md
  plans/adr-015/tasks/task-update-dev-guide-with-priority-rules.md
Due: document-validator, doc-validation

chore(plans): ADR-015 issues and branches created
  plans/adr-015/epic-implement-adr-015.md
  plans/adr-015/stories/story-document-adr-015-changes.md
  plans/adr-015/stories/story-implement-highest-priority-logic.md
  plans/adr-015/stories/story-implement-strict-priority-testing.md
  plans/adr-015/stories/story-implement-task-filtering-logic.md
  plans/adr-015/stories/story-update-task-assignment-logic.md
  plans/adr-015/tasks/task-add-p0-completion-p1-assignment-test.md
  plans/adr-015/tasks/task-add-p0-p1-no-assignment-test.md
  plans/adr-015/tasks/task-determine-highest-priority.md
  plans/adr-015/tasks/task-filter-tasks-by-highest-priority.md
  plans/adr-015/tasks/task-get-issue-priority-labels.md
  plans/adr-015/tasks/task-update-design-doc-with-priority-rules.md
  plans/adr-015/tasks/task-update-dev-guide-with-priority-rules.md
  plans/adr-015/tasks/task-update-task-assignment-logic.md
Due: document-validator, doc-validation

feat: Implement strict priority bucket assignment in TaskService
  github_broker/application/task_service.py
  tests/application/test_task_service.py
Due: pytest, mypy

fix: Apply review suggestions and fix pre-commit errors
  .pre-commit-config.yaml
  plans/adr-016/stories/story-fix-review-issue-workflow.md
  plans/adr-016/tasks/task-add-data-retrieval-for-prompt.md
  plans/adr-016/tasks/task-add-prompt-switching-logic.md
  scripts/validate_docs.py
Due: pytest, document-validator, mypy, doc-validation

feat(di): Register AgentConfigList as a provider in DI container
  github_broker/infrastructure/agent/loader.py
  github_broker/infrastructure/agent/models.py
  github_broker/infrastructure/config.py
  github_broker/infrastructure/di_container.py
  tests/infrastructure/test_di_container.py
Due: pytest, mypy

chore(plans): Sync plan status for adr-016
  plans/adr-016/epic-implement-adr-016.md
  plans/adr-016/stories/story-fix-review-issue-workflow.md
  plans/adr-016/tasks/task-add-data-retrieval-for-prompt.md
  plans/adr-016/tasks/task-add-logging-and-testing.md
  plans/adr-016/tasks/task-add-prompt-switching-logic.md
  plans/adr-016/tasks/task-add-review-issue-cache-logic.md
Due: document-validator, doc-validation

feat(plans): Add design document update task for adr-016
  plans/adr-016/epic-implement-adr-016.md
  plans/adr-016/stories/story-fix-review-issue-workflow.md
Due: document-validator, doc-validation

feat: Add prompt switching logic and logging for review tasks
  github_broker/application/task_service.py
  tests/application/test_task_service.py
Due: pytest, mypy

feat(task_service): Add prompt switching logic for review tasks
  github_broker/application/task_service.py
  tests/application/test_task_service.py
Due: pytest, mypy

fix: Resolve ruff formatting issues
  github_broker/domain/agent_config.py
  github_broker/infrastructure/document_validation/document_validator.py
  scripts/validate_docs.py
  scripts/validate_documents.py
  tests/application/test_task_service.py
Due: pytest, mypy

fix: TaskService: Apply review comments for type hinting and validation
  github_broker/application/task_service.py
  github_broker/infrastructure/di_container.py
  tests/application/test_task_service.py
Due: pytest, mypy

chore(plans): ADR-013 Epic and Story 1 issues created
  plans/adr-013/epic-implement-adr-013.md
  plans/adr-013/stories/story-introduce-yaml-based-agent-config.md
Due: document-validator, doc-validation

chore(plans): ADR-013 issues and branches created
  plans/adr-013/stories/story-refactor-task-service-for-external-config.md
  plans/adr-013/stories/story-update-docs-for-agent-config.md
  plans/adr-013/tasks/task-add-agent-config-path-to-config.md
  plans/adr-013/tasks/task-add-agent-config-path-to-env-sample.md
  plans/adr-013/tasks/task-create-agent-config-loader-tests.md
  plans/adr-013/tasks/task-create-agent-config-loader.md
  plans/adr-013/tasks/task-create-agents-yml-sample.md
  plans/adr-013/tasks/task-document-new-agent-config.md
  plans/adr-013/tasks/task-inject-agent-config-into-task-service.md
  plans/adr-013/tasks/task-register-agent-config-in-di.md
  plans/adr-013/tasks/task-remove-hardcoded-agent-roles.md
  plans/adr-013/tasks/task-update-task-service-tests.md
Due: document-validator, doc-validation

feat(plans): ADR-014の計画を追加
  plans/adr-014/epic-implement-adr-014.md
  plans/adr-014/stories/story-strengthen-doc-validation-tests.md
  plans/adr-014/stories/story-update-adr-validation-logic.md
  plans/adr-014/stories/story-update-design-doc-validation-logic.md
  plans/adr-014/tasks/task-add-adr-required-sections-validation.md
  plans/adr-014/tasks/task-add-adr-summary-regex-validation.md
  plans/adr-014/tasks/task-add-adr-validation-test-cases.md
  plans/adr-014/tasks/task-add-design-doc-required-sections-validation.md
  plans/adr-014/tasks/task-add-design-doc-summary-regex-validation.md
  plans/adr-014/tasks/task-add-design-doc-validation-test-cases.md
Due: document-validator, doc-validation

feat(plans): ADR-014の計画にドキュメント化のストーリーを追加
  plans/adr-014/epic-implement-adr-014.md
  plans/adr-014/stories/story-document-adr-014-changes.md
  plans/adr-014/tasks/task-update-adr-design-doc-templates.md
  plans/adr-014/tasks/task-update-dev-guide-with-validation-rules.md
Due: document-validator, doc-validation

chore(plans): ADR-014 issues and branches created
  plans/adr-014/epic-implement-adr-014.md
  plans/adr-014/tasks/task-add-adr-validation-test-cases.md
Due: document-validator, doc-validation

feat: Add agents.yml.sample based on ADR-013
  agents.yml.sample
Due: none

fix: TaskService: Apply review comments for type hinting and validation
  github_broker/application/task_service.py
  github_broker/infrastructure/di_container.py
Due: pytest, mypy

fix(ci): Ensure doc validation runs only on changed files
  .pre-commit-config.yaml
  scripts/validate_docs.py
Due: pytest, mypy

fix(docs): Comply with new validation rules
  .github/workflows/ci.yml
  docs/adr/002-settings-management-with-pydantic.md
  docs/adr/003-polling-only-architecture.md
  docs/adr/004-punq-di-pattern.md
  docs/adr/005-multi-repository-support.md
  docs/adr/006-hybrid-polling-and-server-side-logic.md
  docs/adr/007-issue-quality-automation.md
  docs/adr/008-issue-branch-name-validation.md
  docs/adr/009-deprecate-long-polling.md
  docs/adr/010-ci-cd-process-improvement.md
  docs/adr/011-trigger-ci-on-all-branches.md
  docs/adr/012-document-format-validation.md
  docs/adr/013-agent-role-configuration.md
  docs/adr/014-improve-adr-validation-rules.md
  docs/adr/015-strict-priority-bucket-assignment.md
  docs/adr/016-fix-review-issue-assignment-logic.md
  docs/design-docs/001-update-gemini-model-and-review-issue-handling.md
  docs/design-docs/002-document-validator-script.md
  docs/design-docs/003-prompt-template-updates.md
Due: document-validator, doc-validation

test: Mock _load_agent_configs in di_container test
  tests/infrastructure/test_di_container.py
Due: pytest, mypy

feat: Inject agent definitions into TaskService
  github_broker/application/task_service.py
  tests/application/test_task_service.py
Due: pytest, mypy

fix: Clarify priority bucket rule as 'planned' in development guide
  docs/guides/development-workflow.md
Due: document-validator

feat: Add test for strict priority assignment (P0 over P1)
  tests/application/test_task_service.py
Due: pytest, mypy

feat(plans): ADR-015の計画にドキュメント化のストーリーを追加
  plans/adr-015/epic-implement-adr-015.md
  plans/adr-015/stories/story-document-adr-015-changes.md
  plans/adr-015/tasks/task-update-design-doc-with-priority-rules.md
  plans/adr-015/tasks/task-update-dev-guide-with-priority-rules.md
Due: document-validator, doc-validation

feat: Implement strict priority bucket filtering in TaskService
  github_broker/application/task_service.py
Due: pytest, mypy

fix: Resolve mypy error in TaskService
  github_broker/application/task_service.py
Due: pytest, mypy

refactor: Improve _determine_highest_priority implementation
  github_broker/application/task_service.py
Due: pytest, mypy

fix(typing): レビューコメントに基づき、型安全性を向上させるリファクタリングを実施
  github_broker/application/task_service.py
  github_broker/domain/agent.py
  github_broker/infrastructure/config.py
  github_broker/infrastructure/di_container.py
  tests/application/test_task_service.py
Due: pytest, mypy

refactor: Use itertools.takewhile for efficiency
  github_broker/application/task_service.py
Due: pytest, mypy

style: apply ruff auto-fixes
  github_broker/infrastructure/agent/models.py
Due: pytest, mypy

fix: remove commented out code
  tests/application/test_task_service.py
Due: pytest, mypy

Add research report for Circular-Economy-Latest-Info
  research/Circular-Economy-Latest-Info/20251105T000000.md
Due: document-validator

fix: format code with ruff
  github_broker/application/task_service.py
  github_broker/infrastructure/document_validation/document_validator.py
  scripts/validate_docs.py
  scripts/validate_documents.py
  tests/application/test_task_service.py
Due: pytest, mypy

test: Fix failing tests for review task logic
  github_broker/application/task_service.py
  tests/application/test_task_service.py
Due: pytest, mypy

feat(task_service): Add mocked integration test for dynamic agent config
  tests/application/test_task_service.py
Due: pytest, mypy

Path conditions:
  pytest: any of: \.py$
  document-validator: any of: \.md$
  mypy: any of: \.py$
  doc-validation: any of: ^(docs/adr/|docs/design-docs/|plans/).*\.md$
