Repository masa-codehub/github_broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, document-validator, mypy, doc-validation

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.6.0
    hooks:
        # Run the linter.
        - id: ruff
          args: [ --fix ]

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        entry: pytest
        args: ["-k", "not trio"]
        language: system
        types: [python]
        pass_filenames: false
    -   id: document-validator
        name: Document Validator
        entry: python github_broker/infrastructure/document_validation/document_validator.py
        language: system
        files: \.md$
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
    -   id: doc-validation
        name: Document Validation
        entry: python scripts/validate_docs.py
        language: system
        files: ^(docs/adr/|docs/design-docs/|plans/).*\.md$
        pass_filenames: false
-   repo: https://github.com/commitizen-tools/commitizen
    rev: 'v3.27.0'
    hooks:
      - id: commitizen
        stages: [commit-msg]

feat(agent): YAMLベースのエージェント設定を読み込むAgentConfigLoaderを実装
  github_broker/domain/agent_config.py
  github_broker/infrastructure/agent/loader.py
  tests/infrastructure/agent/test_loader.py
Due: pytest, mypy

feat: Add AGENT_CONFIG_PATH to .env.sample
  .build/context/.env.sample
Due: none

docs: Document agent role configuration (agents.yml and AGENT_CONFIG_PATH)
  .build/context/.env.sample
  agents.yml
  docs/guides/getting-started.md
Due: document-validator

feat(plans): ADR-014の計画を追加
  plans/adr-014/epic-implement-adr-014.md
  plans/adr-014/stories/story-strengthen-doc-validation-tests.md
  plans/adr-014/stories/story-update-adr-validation-logic.md
  plans/adr-014/stories/story-update-design-doc-validation-logic.md
  plans/adr-014/tasks/task-add-adr-required-sections-validation.md
  plans/adr-014/tasks/task-add-adr-summary-regex-validation.md
  plans/adr-014/tasks/task-add-adr-validation-test-cases.md
  plans/adr-014/tasks/task-add-design-doc-required-sections-validation.md
  plans/adr-014/tasks/task-add-design-doc-summary-regex-validation.md
  plans/adr-014/tasks/task-add-design-doc-validation-test-cases.md
Due: document-validator, doc-validation

feat(plans): ADR-014の計画にドキュメント化のストーリーを追加
  plans/adr-014/epic-implement-adr-014.md
  plans/adr-014/stories/story-document-adr-014-changes.md
  plans/adr-014/tasks/task-update-adr-design-doc-templates.md
  plans/adr-014/tasks/task-update-dev-guide-with-validation-rules.md
Due: document-validator, doc-validation

feat: Add agents.yml.sample based on ADR-013
  agents.yml.sample
Due: none

chore(plans): ADR-014 issues and branches created
  plans/adr-014/epic-implement-adr-014.md
  plans/adr-014/tasks/task-add-adr-validation-test-cases.md
Due: document-validator, doc-validation

feat: TaskService: Remove hardcoded AGENT_ROLES and use injected definitions
  github_broker/application/task_service.py
  tests/application/test_task_service.py
Due: pytest, mypy

feat(validation): Add ADR validation test cases and implement ADR-014 rules
  scripts/validate_docs.py
  tests/scripts/test_validate_docs.py
Due: pytest, mypy

chore(plans): ADR-014 issues and branches created
  plans/adr-014/epic-implement-adr-014.md
  plans/adr-014/stories/story-document-adr-014-changes.md
  plans/adr-014/stories/story-strengthen-doc-validation-tests.md
  plans/adr-014/stories/story-update-adr-validation-logic.md
  plans/adr-014/stories/story-update-design-doc-validation-logic.md
  plans/adr-014/tasks/task-add-adr-required-sections-validation.md
  plans/adr-014/tasks/task-add-adr-summary-regex-validation.md
  plans/adr-014/tasks/task-add-design-doc-required-sections-validation.md
  plans/adr-014/tasks/task-add-design-doc-summary-regex-validation.md
  plans/adr-014/tasks/task-add-design-doc-validation-test-cases.md
  plans/adr-014/tasks/task-update-adr-design-doc-templates.md
  plans/adr-014/tasks/task-update-dev-guide-with-validation-rules.md
Due: document-validator, doc-validation

feat(plans): ADR-015の計画を追加
  plans/adr-015/epic-implement-adr-015.md
  plans/adr-015/stories/story-implement-highest-priority-logic.md
  plans/adr-015/stories/story-implement-strict-priority-testing.md
  plans/adr-015/stories/story-implement-task-filtering-logic.md
  plans/adr-015/stories/story-update-task-assignment-logic.md
  plans/adr-015/tasks/task-add-p0-completion-p1-assignment-test.md
  plans/adr-015/tasks/task-add-p0-p1-no-assignment-test.md
  plans/adr-015/tasks/task-determine-highest-priority.md
  plans/adr-015/tasks/task-filter-tasks-by-highest-priority.md
  plans/adr-015/tasks/task-get-issue-priority-labels.md
  plans/adr-015/tasks/task-update-task-assignment-logic.md
Due: document-validator, doc-validation

feat: Inject agent definitions into TaskService
  github_broker/application/task_service.py
  tests/application/test_task_service.py
Due: pytest, mypy

feat(plans): ADR-015の計画にドキュメント化のストーリーを追加
  plans/adr-015/epic-implement-adr-015.md
  plans/adr-015/stories/story-document-adr-015-changes.md
  plans/adr-015/tasks/task-update-design-doc-with-priority-rules.md
  plans/adr-015/tasks/task-update-dev-guide-with-priority-rules.md
Due: document-validator, doc-validation

chore(plans): ADR-015 issues and branches created
  plans/adr-015/epic-implement-adr-015.md
  plans/adr-015/stories/story-document-adr-015-changes.md
  plans/adr-015/stories/story-implement-highest-priority-logic.md
  plans/adr-015/stories/story-implement-strict-priority-testing.md
  plans/adr-015/stories/story-implement-task-filtering-logic.md
  plans/adr-015/stories/story-update-task-assignment-logic.md
  plans/adr-015/tasks/task-add-p0-completion-p1-assignment-test.md
  plans/adr-015/tasks/task-add-p0-p1-no-assignment-test.md
  plans/adr-015/tasks/task-determine-highest-priority.md
  plans/adr-015/tasks/task-filter-tasks-by-highest-priority.md
  plans/adr-015/tasks/task-get-issue-priority-labels.md
  plans/adr-015/tasks/task-update-design-doc-with-priority-rules.md
  plans/adr-015/tasks/task-update-dev-guide-with-priority-rules.md
  plans/adr-015/tasks/task-update-task-assignment-logic.md
Due: document-validator, doc-validation

docs: Update development workflow guide with priority bucket rule
  docs/guides/development-workflow.md
Due: document-validator

docs: Update request-task-sequence.md with strict priority rules (ADR-015)
  docs/architecture/request-task-sequence.md
Due: document-validator

chore(plans): Update ADR-015 plan files with correct issue numbers
  plans/adr-015/epic-implement-adr-015.md
  plans/adr-015/stories/story-document-adr-015-changes.md
  plans/adr-015/tasks/task-update-design-doc-with-priority-rules.md
  plans/adr-015/tasks/task-update-dev-guide-with-priority-rules.md
Due: document-validator, doc-validation

Revert "docs: Update request-task-sequence.md with strict priority rules (ADR-015)"
  docs/architecture/request-task-sequence.md
Due: document-validator

feat: Add utility methods for highest priority filtering
  github_broker/application/task_service.py
  tests/application/test_task_service.py
Due: pytest, mypy

feat: Add test for strict priority assignment (P0 over P1)
  tests/application/test_task_service.py
Due: pytest, mypy

feat: Implement strict priority bucket filtering in TaskService
  github_broker/application/task_service.py
  tests/application/test_task_service.py
Due: pytest, mypy

feat(task_service): Implement _determine_highest_priority method
  github_broker/application/task_service.py
  tests/application/test_task_service.py
Due: pytest, mypy

feat(task): Issue #1742: Ensure priority labels are fetched and handled in TaskService
  github_broker/infrastructure/config.py
  github_broker/infrastructure/di_container.py
  tests/infrastructure/test_github_client.py
Due: pytest, mypy

fix: Use os.environ.get for AGENT_CONFIG_PATH in config.py to load from environment variable
  github_broker/infrastructure/config.py
Due: pytest, mypy

chore(plans): ADR-013 Epic and Story 1 issues created
  plans/adr-013/epic-implement-adr-013.md
  plans/adr-013/stories/story-introduce-yaml-based-agent-config.md
Due: document-validator, doc-validation

chore(plans): ADR-013 issues and branches created
  plans/adr-013/stories/story-refactor-task-service-for-external-config.md
  plans/adr-013/stories/story-update-docs-for-agent-config.md
  plans/adr-013/tasks/task-add-agent-config-path-to-config.md
  plans/adr-013/tasks/task-add-agent-config-path-to-env-sample.md
  plans/adr-013/tasks/task-create-agent-config-loader-tests.md
  plans/adr-013/tasks/task-create-agent-config-loader.md
  plans/adr-013/tasks/task-create-agents-yml-sample.md
  plans/adr-013/tasks/task-document-new-agent-config.md
  plans/adr-013/tasks/task-inject-agent-config-into-task-service.md
  plans/adr-013/tasks/task-register-agent-config-in-di.md
  plans/adr-013/tasks/task-remove-hardcoded-agent-roles.md
  plans/adr-013/tasks/task-update-task-service-tests.md
Due: document-validator, doc-validation

feat: Add AGENT_CONFIG_PATH to Settings class
  github_broker/infrastructure/config.py
  tests/infrastructure/test_config.py
Due: pytest, mypy

fix(agent): Update AgentConfigLoader to return AgentConfig object and clean up imports\n\nRefactor: Apply ruff fix (RET504) and remove unused imports (List, AgentDefinition) for cleaner code.
  github_broker/infrastructure/agent/loader.py
  tests/infrastructure/agent/test_loader.py
Due: pytest, mypy

chore(lint): Apply ruff fixes to agent_config.py
  github_broker/domain/agent_config.py
Due: pytest, mypy

fix: Add comment to AGENT_CONFIG_PATH in .env.sample
  .build/context/.env.sample
Due: none

fix: Apply review comments for PR #1712
  agents.yml
  docs/guides/getting-started.md
  plans/adr-013/epic-implement-adr-013.md
Due: document-validator, doc-validation

fix: Apply review comments to agents.yml.sample (Issue #1722)
  agents.yml.sample
Due: none

feat(task-service): Update tests and implementation for external agent config
  github_broker/application/task_service.py
  github_broker/domain/agent_config.py
  github_broker/infrastructure/di_container.py
  tests/application/test_task_service.py
Due: pytest, mypy

feat(adr): ADR-016 レビュータスクのキャッシュ処理を追加
  docs/adr/016-fix-review-issue-assignment-logic.md
Due: document-validator, doc-validation

feat(plans): Create plan for design-doc-003 prompt template updates
  plans/design-doc-003/epic-implement-design-doc-003.md
  plans/design-doc-003/stories/story-add-base-branch-name-variable.md
  plans/design-doc-003/stories/story-remove-review-comments-variable.md
  plans/design-doc-003/stories/story-update-prompt-templates.md
  plans/design-doc-003/tasks/task-modify-gemini-executor-for-base-branch.md
  plans/design-doc-003/tasks/task-modify-gemini-executor-for-review-comments.md
  plans/design-doc-003/tasks/task-modify-redis-schema-for-base-branch.md
  plans/design-doc-003/tasks/task-modify-redis-schema-for-review-comments.md
  plans/design-doc-003/tasks/task-modify-task-service-for-base-branch.md
  plans/design-doc-003/tasks/task-modify-task-service-for-review-comments.md
  plans/design-doc-003/tasks/task-update-gemini-executor-yml.md
Due: document-validator, doc-validation

fix(plans): Reflect review comments on plan-for-design-doc-003
  plans/design-doc-003/epic-implement-design-doc-003.md
  plans/design-doc-003/stories/story-add-base-branch-name-variable.md
  plans/design-doc-003/stories/story-remove-review-comments-variable.md
  plans/design-doc-003/tasks/task-modify-gemini-executor-for-base-branch.md
  plans/design-doc-003/tasks/task-modify-task-service-for-base-branch.md
Due: document-validator, doc-validation
