Repository masa-codehub/github_broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy, doc-validation-adr, doc-validation-design-docs, doc-validation-plans, doc-validation-in-box

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.6.0
    hooks:
        # Run the linter.
        - id: ruff
          args: [ --fix ]

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        entry: pytest
        args: ["-k", "not trio", "-n", "auto"]
        language: system
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]

    -   id: doc-validation-adr
        name: Document Validation (ADRs)
        entry: doc-validator
        language: system
        files: ^docs/adr/.*\.md$
        pass_filenames: true
    -   id: doc-validation-design-docs
        name: Document Validation (Design Docs)
        entry: doc-validator
        language: system
        files: ^docs/design-docs/.*\.md$
        pass_filenames: true
    -   id: doc-validation-plans
        name: Document Validation (Plans)
        entry: doc-validator
        language: system
        files: ^plans/.*\.md$
        pass_filenames: true
    -   id: doc-validation-in-box
        name: Document Validation (In Box)
        entry: doc-validator
        language: system
        files: ^_in_box/.*\.md$
        pass_filenames: true

-   repo: https://github.com/commitizen-tools/commitizen
    rev: 'v3.27.0'
    hooks:
      - id: commitizen
        stages: [commit-msg]

feat(planning): Create implementation plan for ADR-019
  _in_box/adr-019/epic-implement-adr-019.md
  _in_box/adr-019/story-implement-validation-logic/story-implement-validation-logic.md
  _in_box/adr-019/story-implement-validation-logic/task-create-validation-service.md
  _in_box/adr-019/story-implement-validation-logic/task-implement-unit-tests.md
  _in_box/adr-019/story-integrate-pre-commit-hook/story-integrate-pre-commit-hook.md
  _in_box/adr-019/story-integrate-pre-commit-hook/task-create-validation-cli.md
  _in_box/adr-019/story-integrate-pre-commit-hook/task-update-pre-commit-config.md
Due: doc-validation-in-box

feat(planning): Add frontmatter to ADR-019 plan files and update guidelines
  .gemini/AGENTS/PRODUCT_MANAGER.md
  _in_box/adr-019/epic-implement-adr-019.md
  _in_box/adr-019/story-implement-validation-logic/story-implement-validation-logic.md
  _in_box/adr-019/story-implement-validation-logic/task-create-validation-service.md
  _in_box/adr-019/story-implement-validation-logic/task-implement-unit-tests.md
  _in_box/adr-019/story-integrate-pre-commit-hook/story-integrate-pre-commit-hook.md
  _in_box/adr-019/story-integrate-pre-commit-hook/task-create-validation-cli.md
  _in_box/adr-019/story-integrate-pre-commit-hook/task-update-pre-commit-config.md
Due: doc-validation-in-box

feat(planning): Add priority labels and clarify guideline rules
  .gemini/AGENTS/PRODUCT_MANAGER.md
  _in_box/adr-019/epic-implement-adr-019.md
  _in_box/adr-019/story-implement-validation-logic/story-implement-validation-logic.md
  _in_box/adr-019/story-implement-validation-logic/task-create-validation-service.md
  _in_box/adr-019/story-implement-validation-logic/task-implement-unit-tests.md
  _in_box/adr-019/story-integrate-pre-commit-hook/story-integrate-pre-commit-hook.md
  _in_box/adr-019/story-integrate-pre-commit-hook/task-create-validation-cli.md
  _in_box/adr-019/story-integrate-pre-commit-hook/task-update-pre-commit-config.md
Due: doc-validation-in-box

docs(guidelines): Clarify P-labels as work order/sequence, not priority
  .gemini/AGENTS/PRODUCT_MANAGER.md
Due: none

feat(planning): Add agent role labels to plan files and guidelines
  .gemini/AGENTS/PRODUCT_MANAGER.md
  _in_box/adr-019/epic-implement-adr-019.md
  _in_box/adr-019/story-implement-validation-logic/story-implement-validation-logic.md
  _in_box/adr-019/story-implement-validation-logic/task-create-validation-service.md
  _in_box/adr-019/story-implement-validation-logic/task-implement-unit-tests.md
  _in_box/adr-019/story-integrate-pre-commit-hook/story-integrate-pre-commit-hook.md
  _in_box/adr-019/story-integrate-pre-commit-hook/task-create-validation-cli.md
  _in_box/adr-019/story-integrate-pre-commit-hook/task-update-pre-commit-config.md
Due: doc-validation-in-box

docs(guidelines): Add frontmatter example to Issue Template
  .gemini/AGENTS/PRODUCT_MANAGER.md
Due: none

feat(planning): Remove 'planning' label as redundant
  .gemini/AGENTS/PRODUCT_MANAGER.md
  _in_box/adr-019/epic-implement-adr-019.md
  _in_box/adr-019/story-implement-validation-logic/story-implement-validation-logic.md
  _in_box/adr-019/story-implement-validation-logic/task-create-validation-service.md
  _in_box/adr-019/story-implement-validation-logic/task-implement-unit-tests.md
  _in_box/adr-019/story-integrate-pre-commit-hook/story-integrate-pre-commit-hook.md
  _in_box/adr-019/story-integrate-pre-commit-hook/task-create-validation-cli.md
  _in_box/adr-019/story-integrate-pre-commit-hook/task-update-pre-commit-config.md
Due: doc-validation-in-box

fix(docs): Add missing Sub-Issues section to task plan files
  _in_box/adr-019/story-implement-validation-logic/task-create-validation-service.md
  _in_box/adr-019/story-implement-validation-logic/task-implement-unit-tests.md
  _in_box/adr-019/story-integrate-pre-commit-hook/task-create-validation-cli.md
  _in_box/adr-019/story-integrate-pre-commit-hook/task-update-pre-commit-config.md
Due: doc-validation-in-box

fix(issue-creator): Enhance error logging in CLI
  issue_creator_kit/issue_creator_kit/interface/cli.py
Due: pytest, mypy

fix(issue-creator): Enhance error logging in CLI (#2474)
  issue_creator_kit/issue_creator_kit/interface/cli.py
Due: pytest, mypy

ci(issue-creator): Force stderr logging on failure
  .github/workflows/issue_creator.yml
Due: none

ci(issue-creator): Force stderr logging on failure (#2476)
  .github/workflows/issue_creator.yml
Due: none

fix(issue-creator): Use explicit PR number passing to CLI
  .github/workflows/issue_creator.yml
  issue_creator_kit/issue_creator_kit/interface/cli.py
Due: pytest, mypy

Fix: Ensure Reliable PR Number Passing in Issue Creator Workflow (#2480)
  .github/workflows/issue_creator.yml
  issue_creator_kit/issue_creator_kit/interface/cli.py
Due: pytest, mypy

fix(issue-creator): Revert to scanning _in_box dir directly
  issue_creator_kit/issue_creator_kit/application/issue_service.py
  issue_creator_kit/issue_creator_kit/infrastructure/github_service.py
Due: pytest, mypy

Fix: Restore Logic to Scan _in_box Directory for Issue Creation (#2485)
  issue_creator_kit/issue_creator_kit/application/issue_service.py
  issue_creator_kit/issue_creator_kit/infrastructure/github_service.py
Due: pytest, mypy

fix(issue-creator): Use .path attr for ContentFile objects
  issue_creator_kit/issue_creator_kit/application/issue_service.py
Due: pytest, mypy

Fix: Correct Attribute Access for ContentFile in Issue Creator (#2488)
  issue_creator_kit/issue_creator_kit/application/issue_service.py
Due: pytest, mypy

fix(issue-creator): Refactor to use local file moves
  issue_creator_kit/issue_creator_kit/application/issue_service.py
  issue_creator_kit/issue_creator_kit/infrastructure/github_service.py
Due: pytest, mypy

fix(issue-creator): Refactor to use local file moves (#2492)
  issue_creator_kit/issue_creator_kit/application/issue_service.py
  issue_creator_kit/issue_creator_kit/infrastructure/github_service.py
Due: pytest, mypy

chore(issues): Sync processed issue files
  _done_box/epic-implement-adr-019_20251126055100438972.md
  _done_box/story-implement-validation-logic_20251126055101939450.md
  _done_box/story-integrate-pre-commit-hook_20251126055106309746.md
  _done_box/task-create-validation-cli_20251126055107787036.md
  _done_box/task-create-validation-service_20251126055103435106.md
  _done_box/task-implement-unit-tests_20251126055104889395.md
  _done_box/task-update-pre-commit-config_20251126055109319106.md
Due: none

feat(issue-creator-kit): Implement frontmatter validation service
  issue_creator_kit/__init__.py
  issue_creator_kit/application/exceptions.py
  issue_creator_kit/application/validation_service.py
  pyproject.toml
  tests/issue_creator_kit/application/test_validation_service.py
Due: pytest, mypy

fix: Update _GEMINI.md with OODA loop reflection
  .gemini/AGENTS/_GEMINI.md
Due: none

fix(issue-creator-kit): Resolve setuptools multiple top-level packages error in CI
  issue_creator_kit/pyproject.toml
Due: none

fix(issue-creator-kit): Import ValidationError in validation_cli
  issue_creator_kit/application/__init__.py
  issue_creator_kit/application/issue_service.py
  issue_creator_kit/application/utils.py
  issue_creator_kit/domain/__init__.py
  issue_creator_kit/domain/document.py
  issue_creator_kit/domain/in_box_file_filter.py
  issue_creator_kit/domain/issue.py
  issue_creator_kit/infrastructure/__init__.py
  issue_creator_kit/infrastructure/file_system_service.py
  issue_creator_kit/infrastructure/github_service.py
  issue_creator_kit/interface/__init__.py
  issue_creator_kit/interface/cli.py
  issue_creator_kit/interface/validation_cli.py
  issue_creator_kit/issue_creator_kit/application/validation_service.py
  issue_creator_kit/issue_creator_kit/infrastructure/__init__.py
  issue_creator_kit/issue_creator_kit/interface/__init__.py
  issue_creator_kit/issue_creator_kit/interface/validation_cli.py
Due: pytest, mypy

fix(pre-commit): Adjust doc-validator entry to resolve ModuleNotFoundError
  .pre-commit-config.yaml
Due: none

fix(pre-commit): Use `bash` script for doc-validator entry
  .pre-commit-config.yaml
Due: none

fix(validation): Apply review comments to validation service and tests
  issue_creator_kit/application/exceptions.py
  issue_creator_kit/application/validation_service.py
  issue_creator_kit/tests/application/test_validation_service.py
Due: pytest, mypy

fix(validation): Skip frontmatter check for ADRs and Design Docs
  .pre-commit-config.yaml
  issue_creator_kit/interface/validation_cli.py
Due: pytest, mypy

feat(validation): implement unit tests for ValidationService
  issue_creator_kit/application/exceptions.py
  issue_creator_kit/application/validation_service.py
  issue_creator_kit/interface/validation_cli.py
  issue_creator_kit/tests/application/test_validation_service.py
Due: pytest, mypy

fix(validation): address review comments
  issue_creator_kit/application/validation_service.py
  issue_creator_kit/tests/application/test_validation_service.py
Due: pytest, mypy

feat(validation): Implement unit tests for ValidationService (#2524)
  issue_creator_kit/application/exceptions.py
  issue_creator_kit/application/validation_service.py
  issue_creator_kit/interface/validation_cli.py
  issue_creator_kit/tests/application/test_validation_service.py
Due: pytest, mypy

feat: add frontmatter validation for in_box files
  github_broker/infrastructure/document_validation/document_validator.py
Due: pytest, mypy

docs: Update agent error handling principles
  .gemini/AGENTS/BACKENDCODER.md
  .gemini/AGENTS/_GEMINI.md
Due: none

Fix: Address review comments for frontmatter validation
  github_broker/infrastructure/document_validation/document_validator.py
  tests/infrastructure/__init__.py
  tests/infrastructure/document_validation/__init__.py
  tests/infrastructure/document_validation/test_document_validator.py
Due: pytest, mypy

Feat: Add frontmatter validation for in_box files (#2535)
  github_broker/infrastructure/document_validation/document_validator.py
  tests/infrastructure/__init__.py
  tests/infrastructure/document_validation/__init__.py
  tests/infrastructure/document_validation/test_document_validator.py
Due: pytest, mypy

fix: Refactor validation logic and pre-commit hooks based on review comments
  .pre-commit-config.yaml
  issue_creator_kit/application/exceptions.py
  issue_creator_kit/application/validation_service.py
  issue_creator_kit/interface/validation_cli.py
  issue_creator_kit/pyproject.toml
  issue_creator_kit/tests/application/test_validation_service.py
  pyproject.toml
  scripts/validate_docs.sh
Due: pytest, mypy
