Repository masa-codehub/github_broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mypy, doc-validation-adr, doc-validation-design-docs, doc-validation-in-box

pytest:
  name: pytest
  entry: pytest
  args:
  - -k
  - not trio
  - -n
  - auto
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system

doc-validation-adr:
  name: Document Validation (ADRs)
  entry: scripts/validate_docs.sh
  language: script
  pass_filenames: true

doc-validation-design-docs:
  name: Document Validation (Design Docs)
  entry: scripts/validate_docs.sh
  language: script
  pass_filenames: true

doc-validation-in-box:
  name: Document Validation (In Box)
  entry: scripts/validate_docs.sh
  language: script
  pass_filenames: true

docs: Update agent guidelines based on feedback
  .gemini/AGENTS/BACKENDCODER.md
  .gemini/AGENTS/_GEMINI.md
  docs/design-docs/003-prompt-template-updates.md
Due: doc-validation-design-docs

fix: Skip frontmatter validation for ADRs
  issue_creator_kit/interface/validation_cli.py
Due: pytest, mypy

fix: Always run doc validation hooks and fix validation target
  .pre-commit-config.yaml
  issue_creator_kit/interface/validation_cli.py
Due: pytest, mypy

chore: Migrate pre-commit config
  .pre-commit-config.yaml
Due: none

fix: Add execute permission to validate_docs.sh
  scripts/validate_docs.sh
Due: none

docs: Mandate pre-commit --all-files for all local validation
  .gemini/AGENTS/BACKENDCODER.md
  .gemini/AGENTS/_GEMINI.md
  .pre-commit-config.yaml
  docs/design-docs/001-update-gemini-model-and-review-issue-handling.md
  docs/design-docs/002-document-validator-script.md
Due: doc-validation-design-docs

fix: Restrict frontmatter validation to _in_box only
  docs/design-docs/001-update-gemini-model-and-review-issue-handling.md
  docs/design-docs/002-document-validator-script.md
  docs/design-docs/003-prompt-template-updates.md
  issue_creator_kit/interface/validation_cli.py
Due: pytest, mypy, doc-validation-design-docs

fix: Remove unnecessary doc validation hooks
  .pre-commit-config.yaml
Due: none

fix: Reinstate and correct validation for ADRs and Design Docs
  .pre-commit-config.yaml
  issue_creator_kit/application/validation_service.py
  issue_creator_kit/domain/document.py
  issue_creator_kit/interface/validation_cli.py
Due: pytest, mypy

fix: Correct _in_box validation logic and fix typo
  issue_creator_kit/domain/document.py
  issue_creator_kit/interface/validation_cli.py
Due: pytest, mypy

docs: Update agent guidelines based on retrospective feedback
  .gemini/AGENTS/BACKENDCODER.md
  .gemini/AGENTS/_GEMINI.md
  docs/design-docs/003-prompt-template-updates.md
Due: doc-validation-design-docs

fix(dev): install issue_creator_kit for pre-commit hooks
  pyproject.toml
Due: none

fix(dev): update setup guide for pre-commit hooks
  docs/guides/getting-started.md
  pyproject.toml
Due: none

fix(dev): install issue_creator_kit for pre-commit hooks (#2576)
  docs/guides/getting-started.md
Due: none

docs: update agent guidelines and prompt templates
  .gemini/AGENTS/BACKENDCODER.md
  .gemini/AGENTS/_GEMINI.md
  docs/design-docs/003-prompt-template-updates.md
Due: doc-validation-design-docs

docs: update agent guidelines and prompt templates (#2579)
  .gemini/AGENTS/BACKENDCODER.md
  .gemini/AGENTS/_GEMINI.md
  docs/design-docs/003-prompt-template-updates.md
Due: doc-validation-design-docs

test: add valid story file to test pre-commit hook
  .pre-commit-config.yaml
  _in_box/story-test-pre-commit/story-test.md
Due: doc-validation-in-box

chore: remove test file
  _in_box/story-test-pre-commit/story-test.md
Due: doc-validation-in-box

refactor: consolidate doc validation pre-commit hooks
  .pre-commit-config.yaml
Due: none

docs: improve agent guidelines based on retrospective
  .gemini/AGENTS/BACKENDCODER.md
  .gemini/AGENTS/_GEMINI.md
  docs/design-docs/003-prompt-template-updates.md
Due: doc-validation-design-docs

story: integrate pre-commit hook (#2581)
  .gemini/AGENTS/BACKENDCODER.md
  .gemini/AGENTS/_GEMINI.md
  .pre-commit-config.yaml
  docs/design-docs/003-prompt-template-updates.md
  docs/guides/getting-started.md
  tests/infrastructure/__init__.py
  tests/infrastructure/document_validation/__init__.py
Due: pytest, mypy, doc-validation-design-docs

feat: Implement ADR-019 for issue creator workflow validation
  .github/workflows/issue_creator.yml
  docs/adr/019-fix-issue-creator-workflow.md
  docs/guides/getting-started.md
  pyproject.toml
Due: doc-validation-adr

fix: Address review comments on PR #2586
  .pre-commit-config.yaml
  issue_creator_kit/application/validation_service.py
  issue_creator_kit/interface/validation_cli.py
  issue_creator_kit/tests/application/test_validation_service.py
  pyproject.toml
Due: pytest, mypy

feat(docs): Add plans for document refactoring
  _in_box/refactor-docs/epic-refactor-docs.md
  _in_box/refactor-docs/story-create-design-docs/story-create-design-docs.md
  _in_box/refactor-docs/story-create-design-docs/task-create-gb-design-doc.md
  _in_box/refactor-docs/story-create-design-docs/task-create-ick-design-doc.md
  _in_box/refactor-docs/story-organize-existing-docs/story-organize-existing-docs.md
  _in_box/refactor-docs/story-organize-existing-docs/task-create-doc-inventory.md
  _in_box/refactor-docs/story-organize-existing-docs/task-move-documents.md
  _in_box/refactor-docs/story-organize-existing-docs/task-reorganize-directories.md
  _in_box/refactor-docs/story-update-project-docs/story-update-project-docs.md
  _in_box/refactor-docs/story-update-project-docs/task-update-readme.md
Due: doc-validation-in-box

fix(plan): Correct document reference paths according to review comments
  _in_box/detailed-doc-refactor/story-document-issue-creator-kit/task-move-adr-017-docs.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-002.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-003.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-004.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-005.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-006.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-007.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-008.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-009.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-010.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-011.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-012.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-013.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-014.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-015.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-016.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-017.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-018.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-019.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-designdoc-001.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-designdoc-002.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-designdoc-003.md
Due: doc-validation-in-box

docs(guidelines): Reflect feedback and learnings in agent guidelines
  .gemini/AGENTS/PRODUCT_MANAGER.md
  .gemini/AGENTS/_GEMINI.md
Due: none

fix(plan): Correct document reference paths according to review comments
  _in_box/detailed-doc-refactor/story-document-github-broker/task-create-c4-component-diagram-doc.md
  _in_box/detailed-doc-refactor/story-document-issue-creator-kit/task-move-adr-017-docs.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-002.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-003.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-004.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-005.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-006.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-007.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-008.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-009.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-010.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-011.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-012.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-013.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-014.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-015.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-016.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-017.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-018.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-019.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-designdoc-001.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-designdoc-002.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-designdoc-003.md
Due: doc-validation-in-box

docs(guidelines): エージェントの行動規範に今回の学びを反映 (#2606)
  .gemini/AGENTS/PRODUCT_MANAGER.md
  .gemini/AGENTS/_GEMINI.md
  _in_box/detailed-doc-refactor/story-document-github-broker/task-create-c4-component-diagram-doc.md
  _in_box/detailed-doc-refactor/story-document-issue-creator-kit/task-move-adr-017-docs.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-002.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-003.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-004.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-005.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-006.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-007.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-008.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-009.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-010.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-011.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-012.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-013.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-014.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-015.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-016.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-017.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-018.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-019.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-designdoc-001.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-designdoc-002.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-designdoc-003.md
Due: doc-validation-in-box

feat(plan): Refine plan to eliminate document content duplication
  .github/workflows/issue_creator.yml
  _in_box/detailed-doc-refactor/story-document-github-broker/task-create-c4-component-diagram-doc.md
  _in_box/detailed-doc-refactor/story-document-issue-creator-kit/task-move-adr-017-docs.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-002.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-003.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-004.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-005.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-006.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-007.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-008.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-009.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-010.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-011.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-012.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-013.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-014.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-015.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-016.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-017.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-018.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-019.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-designdoc-001.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-designdoc-002.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-designdoc-003.md
Due: doc-validation-in-box

fix(pr-2609): Address review comments and resolve rebase conflicts
  .github/workflows/issue_creator.yml
  _in_box/detailed-doc-refactor/story-document-issue-creator-kit/task-move-adr-017-docs.md
Due: doc-validation-in-box

feat: Restore issue creator workflow (#2609)
  .github/workflows/issue_creator.yml
  _in_box/detailed-doc-refactor/story-document-github-broker/task-create-c4-component-diagram-doc.md
  _in_box/detailed-doc-refactor/story-document-issue-creator-kit/task-move-adr-017-docs.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-002.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-003.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-004.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-005.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-006.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-007.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-008.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-009.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-010.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-011.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-012.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-013.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-014.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-015.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-016.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-017.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-018.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-adr-019.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-designdoc-001.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-designdoc-002.md
  _in_box/detailed-doc-refactor/story-optimize-file-placement/task-move-designdoc-003.md
Due: doc-validation-in-box

fix(ci): issue_creator.ymlの検証スクリプト引数を修正
  .github/workflows/issue_creator.yml
Due: none

fix(ci): issue_creator.ymlの検証スクリプト引数を修正 (#2616)
  .github/workflows/issue_creator.yml
Due: none

fix(ci): issue_creator.ymlの検証スクリプト引数を修正 (#2618)
  .github/workflows/issue_creator.yml
Due: none

Path conditions:
  pytest: any of: \.py$
  mypy: any of: \.py$
  doc-validation-adr: any of: ^docs/adr/.*\.md$
  doc-validation-design-docs: any of: ^docs/design-docs/.*\.md$
  doc-validation-in-box: any of: ^_in_box/.*\.md$
