Repository masa-codehub/github_broker: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, document-validator, mypy, doc-validation

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.6.0
    hooks:
        # Run the linter.
        - id: ruff
          args: [ --fix ]

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        entry: pytest
        args: ["-k", "not trio"]
        language: system
        types: [python]
        pass_filenames: false
    -   id: document-validator
        name: Document Validator
        entry: python github_broker/infrastructure/document_validation/document_validator.py
        language: system
        files: \.md$
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
    -   id: doc-validation
        name: Document Validation
        entry: python scripts/validate_docs.py
        language: system
        files: ^(docs/adr/|docs/design-docs/|plans/).*\.md$
        pass_filenames: false
-   repo: https://github.com/commitizen-tools/commitizen
    rev: 'v3.27.0'
    hooks:
      - id: commitizen
        stages: [commit-msg]

Fix: レビューコメントに対応
  agents.yml.sample
  github_broker/domain/agent_config.py
  github_broker/infrastructure/agent/loader.py
  github_broker/infrastructure/config.py
  tests/infrastructure/agent/test_loader.py
Due: pytest, mypy

Fix(task_service): Address review comments
  github_broker/application/task_service.py
  github_broker/infrastructure/di_container.py
  tests/infrastructure/test_di_container.py
Due: pytest, mypy

docs: .env.sampleの重複エントリを削除し、明確化
  .build/context/.env.sample
Due: none

feat: Design Docの必須セクション検証を強化
  github_broker/infrastructure/document_validation/document_validator.py
  scripts/validate_docs.py
  tests/infrastructure/document_validation/test_document_validator.py
Due: pytest, mypy

fix: ドキュメントの検証エラーを修正
  docs/adr/002-settings-management-with-pydantic.md
  docs/adr/003-polling-only-architecture.md
  docs/adr/004-punq-di-pattern.md
  docs/adr/005-multi-repository-support.md
  docs/adr/006-hybrid-polling-and-server-side-logic.md
  docs/adr/007-issue-quality-automation.md
  docs/adr/008-issue-branch-name-validation.md
  docs/adr/009-deprecate-long-polling.md
  docs/adr/010-ci-cd-process-improvement.md
  docs/adr/011-trigger-ci-on-all-branches.md
  docs/adr/012-document-format-validation.md
  docs/adr/013-agent-role-configuration.md
  docs/adr/014-improve-adr-validation-rules.md
  docs/adr/015-strict-priority-bucket-assignment.md
  docs/adr/016-fix-review-issue-assignment-logic.md
  docs/design-docs/001-update-gemini-model-and-review-issue-handling.md
  docs/design-docs/002-document-validator-script.md
  docs/design-docs/003-prompt-template-updates.md
  github_broker/infrastructure/document_validation/document_validator.py
  scripts/validate_docs.py
  tests/infrastructure/document_validation/test_document_validator.py
Due: pytest, document-validator, mypy, doc-validation

fix: レビューコメントを反映し、ヘッダーの空白を除去
  github_broker/infrastructure/document_validation/document_validator.py
Due: pytest, mypy

feat: add regex validation for design doc summary
  .pre-commit-config.yaml
  github_broker/infrastructure/document_validation/document_validator.py
  scripts/validate_documents.py
  tests/infrastructure/document_validation/test_document_validator.py
Due: pytest, mypy

fix: Reflect review comments for PR #1975
  github_broker/domain/agent_config.py
  github_broker/infrastructure/agent/models.py
  github_broker/infrastructure/di_container.py
  tests/application/test_task_service.py
  tests/infrastructure/agent/test_loader.py
Due: pytest, mypy

feat: Implement ADR-014 validation rules for required sections
  broker_main.py
  github_broker/application/task_service.py
  github_broker/domain/agent_config.py
  github_broker/infrastructure/agent/loader.py
  github_broker/infrastructure/config.py
  github_broker/infrastructure/di_container.py
  github_broker/infrastructure/document_validation/document_validator.py
  github_broker/interface/api.py
  plans/adr-013/epic-implement-adr-013.md
  scripts/validate_documents.py
  tests/application/test_task_service.py
  tests/infrastructure/agent/test_loader.py
  tests/infrastructure/document_validation/test_document_validator.py
  tests/infrastructure/test_config.py
  tests/infrastructure/test_di_container.py
  tests/interface/test_api.py
Due: pytest, document-validator, mypy, doc-validation

ci: Set dummy env vars for server startup test
  .github/workflows/ci.yml
Due: none

fix: Refine ADR section validation and hardcoded config
  broker_main.py
  github_broker/infrastructure/config.py
  github_broker/infrastructure/di_container.py
  github_broker/infrastructure/document_validation/document_validator.py
Due: pytest, mypy

fix: Add missing BROKER_PORT to Settings
  github_broker/infrastructure/config.py
Due: pytest, mypy

fix: revert incorrect changes
  .github/workflows/ci.yml
  broker_main.py
  github_broker/application/task_service.py
  github_broker/domain/agent_config.py
  github_broker/infrastructure/agent/loader.py
  github_broker/infrastructure/config.py
  github_broker/infrastructure/di_container.py
  github_broker/infrastructure/document_validation/document_validator.py
  github_broker/interface/api.py
  plans/adr-013/epic-implement-adr-013.md
  scripts/validate_documents.py
  tests/application/test_task_service.py
  tests/infrastructure/agent/test_loader.py
  tests/infrastructure/document_validation/test_document_validator.py
  tests/infrastructure/test_config.py
  tests/infrastructure/test_di_container.py
  tests/interface/test_api.py
Due: pytest, document-validator, mypy, doc-validation

fix: fix validation script and tests
  github_broker/infrastructure/document_validation/document_validator.py
  scripts/validate_docs.py
  tests/infrastructure/document_validation/test_document_validator.py
  tests/scripts/test_validate_docs.py
Due: pytest, mypy

docs: 開発者ガイドにADR-014の検証ルールを追記
  docs/guides/development-workflow.md
Due: document-validator

feat: ADR-014の規約に合わせてADRとDesign Docのテンプレートを更新
  .gemini/AGENTS/SYSTEM_ARCHITECT.md
Due: document-validator

feat: add design doc validation test cases
  scripts/validate_docs.py
  tests/scripts/test_validate_docs.py
Due: pytest, mypy

fix(docs): Correct ADR summary format
  docs/adr/002-settings-management-with-pydantic.md
  docs/adr/003-polling-only-architecture.md
  docs/adr/004-punq-di-pattern.md
  docs/adr/005-multi-repository-support.md
  docs/adr/006-hybrid-polling-and-server-side-logic.md
  docs/adr/007-issue-quality-automation.md
  docs/adr/008-issue-branch-name-validation.md
  docs/adr/009-deprecate-long-polling.md
Due: document-validator, doc-validation

fix: Apply review comments from PR #2014
  agents.yml.sample
  docs/guides/development-workflow.md
  tests/application/test_task_service.py
Due: pytest, document-validator, mypy

docs: Add markdown link to ADR-013 in agents.yml.sample
  agents.yml.sample
Due: none

feat: Update ADR validation logic
  scripts/validate_docs.py
Due: pytest, mypy

fix: Update ADR files to match new validation rules
  docs/adr/002-settings-management-with-pydantic.md
  docs/adr/003-polling-only-architecture.md
  docs/adr/004-punq-di-pattern.md
  docs/adr/005-multi-repository-support.md
  docs/adr/006-hybrid-polling-and-server-side-logic.md
  docs/adr/007-issue-quality-automation.md
  docs/adr/008-issue-branch-name-validation.md
  docs/adr/009-deprecate-long-polling.md
  docs/adr/010-ci-cd-process-improvement.md
  docs/adr/011-trigger-ci-on-all-branches.md
  docs/adr/012-document-format-validation.md
  docs/adr/013-agent-role-configuration.md
  docs/adr/015-strict-priority-bucket-assignment.md
  docs/adr/016-fix-review-issue-assignment-logic.md
Due: document-validator, doc-validation

fix: Address review comments on PR #2032
  agents.yml
  broker_main.py
  github_broker/infrastructure/agent/loader.py
  github_broker/infrastructure/config.py
  github_broker/infrastructure/document_validation/document_validator.py
  github_broker/interface/api.py
  scripts/validate_docs.py
  tests/infrastructure/agent/test_loader.py
  tests/infrastructure/test_di_container.py
  tests/scripts/test_validate_docs.py
Due: pytest, mypy

fix: レビューコメントを反映
  .pre-commit-config.yaml
  docs/adr/002-settings-management-with-pydantic.md
  docs/adr/005-multi-repository-support.md
  docs/design-docs/002-document-validator-script.md
  docs/design-docs/003-prompt-template-updates.md
  fix_plans.py
  github_broker/infrastructure/document_validation/document_validator.py
  plans/adr-008/epic-implement-adr-008.md
  plans/adr-008/stories/story-modify-issue-validator-for-branch-name.md
  plans/adr-008/tasks/task-add-branch-name-validation-logic.md
  plans/adr-010/epic-implement-adr-010.md
  plans/adr-010/stories/story-automate-release-process.md
  plans/adr-010/stories/story-unify-and-accelerate-checks.md
  plans/adr-013/epic-implement-adr-013.md
  plans/adr-013/tasks/task-update-task-service-tests.md
  plans/adr-015/stories/story-document-adr-015-changes.md
  plans/design-doc-002/tasks/task-implement-script-base-structure.md
  plans/design-doc-002/tasks/task-update-pre-commit-config.md
  scripts/validate_docs.py
Due: pytest, document-validator, mypy, doc-validation

fix: プランファイル修正スクリプトを削除
  fix_plans.py
Due: pytest, mypy

feat(tests): strengthen document validation tests
  github_broker/infrastructure/document_validation/document_validator.py
  tests/infrastructure/document_validation/test_document_validator.py
Due: pytest, mypy

fix(validation): address review comments on PR #2060
  github_broker/infrastructure/document_validation/document_validator.py
  tests/infrastructure/document_validation/test_document_validator.py
Due: pytest, mypy

feat: ADR-014に基づきドキュメント検証ルールを強化
  github_broker/infrastructure/document_validation/document_validator.py
  tests/infrastructure/document_validation/test_document_validator.py
Due: pytest, mypy

fix: レビューコメントに基づきドキュメント検証関連の修正を実装
  .pre-commit-config.yaml
  docs/adr/012-document-format-validation.md
  github_broker/infrastructure/document_validation/document_validator.py
Due: pytest, document-validator, mypy, doc-validation

feat: Implements strict priority bucket assignment
  github_broker/application/task_service.py
  tests/application/test_task_service.py
Due: pytest, mypy

refactor(task_service): Cache agent roles and fix documentation
  github_broker/application/task_service.py
  plans/adr-015/stories/story-document-adr-015-changes.md
Due: pytest, document-validator, mypy, doc-validation

Refactor: Address review comments on task filtering logic
  github_broker/application/task_service.py
Due: pytest, mypy

docs: Align test comment with priority filtering logic
  tests/application/test_task_service.py
Due: pytest, mypy

docs: ADR-015のタスク割り当てルールを反映
  docs/guides/development-workflow.md
Due: document-validator

docs: レビューコメントを反映し、ドキュメントを修正
  docs/architecture/request-task-sequence.md
  docs/guides/development-workflow.md
Due: document-validator

Fix: Address review comments
  github_broker/application/task_service.py
  github_broker/domain/agent.py
  tests/application/test_task_service.py
Due: pytest, mypy

chore(plans): Sync plan status for ADR-013, ADR-014, and ADR-015
  plans/adr-013/epic-implement-adr-013.md
  plans/adr-014/epic-implement-adr-014.md
  plans/adr-015/epic-implement-adr-015.md
Due: document-validator, doc-validation
